    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Awesome Coding Tutorials - provided with &hearts; by Herr B&auml;r</span>
      </div>
    </footer>